<ul class="nav navbar-nav navbar-right">
	{{#link-to 'members.login' id="login" tagName="li" }}<a href="">Login</a>{{/link-to}}
	{{#link-to 'members.sign-up' id="sign-up" tagName="li" }}<a href="">Sign up</a>{{/link-to}}
</ul>
