{{#if session.isAuthenticated}}
	<ul class="nav navbar-nav navbar-right">
		{{#link-to 'members.login' id="trade" tagName="li" }}
			<button class="btn btn-success navbar-btn">Trade</button>
		{{/link-to}}
		<button {{action 'invalidateSession'}} class="btn btn-warning navbar-btn">Logout</button>
	</ul>
{{else}}
	<ul class="nav navbar-nav navbar-right">
		{{#link-to 'members.login' id="login" tagName="li" }}
			<button class="btn btn-success navbar-btn">Login / Register</button>
		{{/link-to}}
	</ul>
{{/if}}
