<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-10">
				<h1>IG Public API JS</h1>
				<p>Browser-based JavaScript sample trading application built on Ember.js and Bootstrap.</p>
				<p>Extend this example template to develop your own JS project.</p>
				<p>The possibilities are endless.</p>
				<p>Feel free to make a pull request to improve this example!</p>
			</div>
			<div class="col-md-2 img-holder">
				<img class="rocket" src="https://a.c-dn.net/b/37LdIw/space-shuttle.png">
			</div>
		</div>
	</div>
</div>
