<div class="container">
	<div class="jumbotron">
		<h1>IG Public API JS</h1>
		<p>Browser-based JavaScript sample trading application built on Ember.js and Bootstrap.</p>
		<p>Extend this example template to develop your own JS project.</p>
		<p>Feel free to make a pull request to improve this example!</p>
	</div>
</div>
